@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    position: fixed;
}

header{
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.logo-container{
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-container img{
    width: 80px;
}
#open-btn{
    display: none;
}
#close-btn{
    display: none;
}

nav{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a{
    padding: 20px;
    color: black;
    font-size: 16px;
    text-decoration: none;
}

nav a:first-child{
    color: rgb(166,24,13);
}

nav a:first-child:hover{
    color: black;
}

nav a:hover{
    color: #383838;
}

.body-wrapper{
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
}

.body-container{
    height: 100%;
    width: 90%;
}

.landing-page-section{
    height: 100%;
    width: 100%;
    display: flex;
}

.landing-page-box-1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    color: white;
    background-color: rgb(166,24,13);
}

.landing-page-box-1 div{
    padding: 100px;
}

.landing-page-box-1 div h1{
    margin-bottom: 20px;
}

.landing-page-box-1 div a{
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}

.landing-page-box-2{
    height: 100%;
    width: 50%;
    color: white;
}

.landing-page-box-2 img{
    width: 100%;
    height: 100%;
}

.landing-page-section-2{
    display: flex;
    min-height: 80%;
    width: 100%;
}

.landing-page-section-2-box-1{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C9ECF5;
}

.landing-page-section-2-box-1 div img{
    width: 50%;
}

.landing-page-section-2-box-2{
    width: 50%;
    background-color: #E4F9FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page-section-2-box-2 div{
    width: 50%;
    color: #22244F;
}

.landing-page-section-2-box-2 div h1{
    margin-bottom: 10px;
}
.landing-page-box-3-container{
    flex-wrap: wrap;
    display: flex;
    height: 100%;
    width: 100%;
}
.landing-page-box-3{
    height: 100vh;
}
.landing-page-box-3-title{
    height: 20%;
    display: flex;
    align-items: center;
}
.landing-page-box-3-container{
    height: 80%;
    display: flex;
    gap:   20px;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 10vh;
}
.landing-page-box-3-container div{
    width: 32%;
    height: 50%;
    background-color: #E4F9FF;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #05244F;
}
@media only screen and (max-width: 767px) {

.header-container{
    height: 10vh;
}

#open-btn{
    display: block;
    z-index: 1000;
    color: black;
    position: absolute;
    top: 20%;
    right: 5%;
    font-size: 20px;
}

#close-btn{
    display: block;
    z-index: 1000;
    color: white;
    position: absolute;
    top: 20%;
    right: 5%;
    font-size: 20px;
    display: none;
}


.logo-container img{
    width: 60px;
}

nav{
    padding-top: 40%;
    background-color: #121212;
    position: absolute;
    height: 100vh;
    justify-content: flex-start;
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
}

nav a{
    color: white;

}

h1{
    margin-bottom: 5px;
    font-size: 26px;
}

.body-wrapper{
    height: 100vh;
}

.landing-page-section{
    flex-direction: column-reverse;
    justify-content: space-between;
}
.landing-page-box-1{
    width: 100%;
    height: 30%;
}
.landing-page-box-1 div{
    padding: 20px;
}

.landing-page-box-1 div a{
    font-size: 14px;
}

.landing-page-box-2{
    width: 100%;
    height: 70%;
}
.landing-page-section-2{
    flex-direction: column;
}
.landing-page-section-2-box-1{
    height: 30%;
    width: 100%;
    padding: 10px;
    flex: 1;
}
.landing-page-section-2-box-1 img{
    width: 80%;
}

.landing-page-section-2-box-2{
    height: 70%;
    width: 100%;
    padding: 10px;
}

.landing-page-section-2-box-2 div{
    width: 90%;
}
.landing-page-box-3-container{

}
.landing-page-box-3-container div{
    width: 100%;
    height: 30%;
}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
.landing-page-section-2-box-1 img{
    width: 80%;
}

}